In [1]:
import pandas as pd 
import glob

In [2]:
df = pd.read_csv("choto_vai_dataset.csv")

In [3]:
df.head(5)

,Username,Verified,Comment Text,Likes,Time,Replies,Translation,Offensive?
0,exotic_somrat,False,ü§©,4,4d,0,False,False
1,saikatluv.0,False,Not married yet? I already said congratulation...,5,4d,0,False,False
2,loser_failure1,False,Bro hoise r ki lukaba biye koirai falao ki ar ...,52,4d,0,True,False
3,akash_17b,False,Matching Matching üéÄ,5,4d,0,False,False
4,shahriar_sadi09,False,Our thoughts‚Ä¶.....¬† more,62,4d,0,False,False

In [6]:
drop_column = ["Username", "Verified", "Time"]
df = df.drop(drop_column, axis =1)
df.head(5)

,Comment Text,Likes,Replies,Translation,Offensive?
0,ü§©,4,0,False,False
1,Not married yet? I already said congratulation...,5,0,False,False
2,Bro hoise r ki lukaba biye koirai falao ki ar ...,52,0,True,False
3,Matching Matching üéÄ,5,0,False,False
4,Our thoughts‚Ä¶.....¬† more,62,0,False,False

In [7]:
df.to_csv("onlyC_choto_vai_dataset.csv")

In [9]:

counts = df['Offensive?'].value_counts()
print(counts)

Offensive?
False    2532
True       40
Name: count, dtype: int64

In [11]:
Count_trans = df["Translation"].value_counts()
Count_trans

Translation
False    2199
True      373
Name: count, dtype: int64

In [12]:
count_trans_offensive = len(df[(df["Translation"] == True) & (df["Offensive?"] == True)])
count_trans_offensive

5

In [14]:
df_trans_offensive = df[(df["Translation"] == True) & (df["Offensive?"] == True)]
print(df_trans_offensive)

                                           Comment Text  Likes  Replies  \
1511              ‡¶Ü‡¶Æ‡¶æ‡¶∞ ‡¶ó‡ßÅ‡¶≤‡ßÅ‡¶Æ‡¶≤‡ßÅ ‡¶≠‡¶æ‡¶á‡¶ü‡¶æ‡¶ì ‡¶¨‡¶°‡¶º ‡¶π‡¶Ø‡¶º‡ßá ‡¶ó‡ßá‡¶õ‡ßá ‚ù§Ô∏èüòé      0        0
1690  ‡¶∏‡ßá‡¶á ‡¶∏‡¶Æ‡ßü‡ßá‡¶∞ ‡¶¨‡¶ø‡¶¶‡ßç‡¶Ø‡ßÅ‡ßé ‡¶™‡ßç‡¶∞‡¶§‡¶ø‡¶Æ‡¶®‡ßç‡¶§‡ßç‡¶∞‡¶ø‡¶∞ ‡¶∏‡¶æ‡¶•‡ßá ‡¶≠‡¶ø‡¶°‡¶ø‡¶ì‡¶ó‡ßÅ‡¶≤‡¶æ...      0        0
1744                         ‡¶Ü‡¶™‡¶®‡¶æ‡¶ï‡ßá ‡¶Ü‡¶ó‡ßá ‡¶¨‡ßã‡¶ï‡¶æ‡¶ö‡ßã‡¶¶‡¶æ ‡¶≤‡¶æ‡¶ó‡¶§‡ßãüòÖ      0        0
1941  ‡¶Ü‡¶Æ‡¶æ‡¶∞ ‡¶¨‡ßú ‡¶õ‡ßá‡¶≤‡ßá ‡¶∏‡ßá‡¶á ‡¶∏‡¶Æ‡ßü ‡¶•‡ßá‡¶ï‡ßá ‡¶Ø‡¶ñ‡¶® ‡¶ó‡ßÅ‡¶≤‡ßç‡¶≤‡ßÅ ‡¶Æ‡ßÅ‡¶≤‡ßç‡¶≤‡ßÅ ‡¶õ‡¶ø...      0        0
2044         Damn! Btw ami jantam na apni mota chilen üòÜ      0        0

      Translation  Offensive?
1511         True        True
1690         True        True
1744         True        True
1941         True        True
2044         True        True