In [1]:
import pandas as pd 
import glob

In [2]:
df = pd.read_csv("choto_vai_dataset.csv")

In [3]:
df.head(5)

,Username,Verified,Comment Text,Likes,Time,Replies,Translation,Offensive?
0,exotic_somrat,False,ü§©,4,4d,0,False,False
1,saikatluv.0,False,Not married yet? I already said congratulation...,5,4d,0,False,False
2,loser_failure1,False,Bro hoise r ki lukaba biye koirai falao ki ar ...,52,4d,0,True,False
3,akash_17b,False,Matching Matching üéÄ,5,4d,0,False,False
4,shahriar_sadi09,False,Our thoughts‚Ä¶.....¬† more,62,4d,0,False,False

In [6]:
drop_column = ["Username", "Verified", "Time"]
df = df.drop(drop_column, axis =1)
df.head(5)

,Comment Text,Likes,Replies,Translation,Offensive?
0,ü§©,4,0,False,False
1,Not married yet? I already said congratulation...,5,0,False,False
2,Bro hoise r ki lukaba biye koirai falao ki ar ...,52,0,True,False
3,Matching Matching üéÄ,5,0,False,False
4,Our thoughts‚Ä¶.....¬† more,62,0,False,False

In [7]:
df.to_csv("onlyC_choto_vai_dataset.csv")

In [9]:

counts = df['Offensive?'].value_counts()
print(counts)

Offensive?
False    2532
True       40
Name: count, dtype: int64

In [11]:
Count_trans = df["Translation"].value_counts()
Count_trans

Translation
False    2199
True      373
Name: count, dtype: int64

In [12]:
count_trans_offensive = len(df[(df["Translation"] == True) & (df["Offensive?"] == True)])
count_trans_offensive

5

In [15]:
df_trans_offensive = df[(df["Translation"] == True) & (df["Offensive?"] == True)]
print(df)

                                           Comment Text  Likes  Replies  \
0                                                     ü§©      4        0
1     Not married yet? I already said congratulation...      5        0
2     Bro hoise r ki lukaba biye koirai falao ki ar ...     52        0
3                                   Matching Matching üéÄ      5        0
4                              Our thoughts‚Ä¶.....¬† more     62        0
...                                                 ...    ...      ...
2567                                             üôåüôå‚ù§Ô∏è‚ù§Ô∏è      0        0
2568                                       Best changeüëè      0        0
2569                         Best motivation for life )      0        0
2570                                                ‚ù§Ô∏èüî•      0        0
2571                                 its all discipline      0        0

      Translation  Offensive?
0           False       False
1           False       False
2            True       False
3           False       False
4           False       False
...           ...         ...
2567        False       False
2568        False       False
2569        False       False
2570        False       False
2571        False       False

[2572 rows x 5 columns]

In [18]:
df_trans_Not_offensive = df[(df["Translation"] == True)& (df["Offensive?"] == False)]
print(df_trans_Not_offensive)

                                           Comment Text  Likes  Replies  \
2     Bro hoise r ki lukaba biye koirai falao ki ar ...     52        0
8     Vai abar biya ta korean. Ar koto din single th...     11        0
10                               Bhabsilam biye korsoüíîü•Ä      2        0
15              Kobe jani shuni tomra biye kore felso üëÄ      1        0
22                 Biyer post bhaba nishpap amr mon ü•∞üôèüèª     36        0
...                                                 ...    ...      ...
2485            Ekn Bhai weight gain korar Tips den.. ü•≤      1        0
2515  Bhai akta jinish bhujlam na son thik asa Tumi ...      1        0
2532                                            ‡¶ì‡¶∞‡ßá ‡¶Æ‡¶ü‡ßÅ      0        0
2544                  Mashallah onek Sundar so cute ‚ù§Ô∏èü§≤      0        0
2546                             Manus caile sob i pare      0        0

      Translation  Offensive?
2            True       False
8            True       False
10           True       False
15           True       False
22           True       False
...           ...         ...
2485         True       False
2515         True       False
2532         True       False
2544         True       False
2546         True       False

[368 rows x 5 columns]